* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
    font-size: 30px;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: black;
    padding: 32px;
    position: fixed;
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav a{
    color: rgb(255, 255, 255);
    padding: 8px;
    transition: 1s;
}
header nav a:hover{
    background-color: tomato;
}

.grupo {
    height: 100vh;
}
#vermelho {
    background-color: #771728;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deadpool img {
    margin-right: -20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#texto1 {
    font-size: 60px;
    color: white;
    margin-left: 20%;
    position: relative;
    transform:translate(50%, -95%);
    margin-right: 30%;
    

}
#subtexto1 {
    font-size: 30px;
    color: white;
    position: absolute;
    text-align: right;
    margin-left: 30%;
    margin-top: 300px;
}


#verde {
    background-color: #0a0f11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panteranegra {
    margin-right: 600px;
}
.panteranegra img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}
#texto2 {
    font-size: 60px;
    color: white;
    transform:translate(50%, -95%);
    margin-right: 35%;
    height: 12;
}
#subtexto2 {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 30%;
    margin-top: 300px;
    width: 30vw;
}

#azul {
    background-color: #e70c14;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spiderman img {
    height: 1000px;
}
#texto3 {
    font-size: 60px;
    color: white;
    
}
#subtexto3 {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 70%;
    margin-top: 300px;
    width: 30vw;
}

#amarelo {
    background-color: #373151;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thanos img{
    height: 1000px;
}
#texto4 {
    font-size: 60px;
    color: white;
    transform:translate(50%, -95%);
    margin-left: 100px;
}
#subtexto4 {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    margin-top: 300px;
    width: 30vw;
}

#roxo {
    background-color: #686563;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thor img{
    height: 1000px;
}
#texto5 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    transform:translate(50%, -95%);
    margin-left: 70px;
}
#subtexto5 {
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 65%;
    margin-top: 300px;
    width: 30vw;
    filter: grayscale(100%); 
    filter: grayscale(0%); /* remove o filtro para colorir a imagem */
}

